<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>circDiscoverer</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <script>
      function showSection(section) {
        document.getElementById("literatureSection").style.display = "none";
        document.getElementById("predictedSection").style.display = "none";
        document.getElementById(section + "Section").style.display = "block";
      }
    </script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/script.js') }}"
    ></script>
  </head>
  <body>
    <div class="navbar">
      circDiscoverer: A Database for Exploring circRNA-Protein Interaction
    </div>
    <div class="container">
      <div class="button-group">
        <button onclick="showSection('literature')">Literature Section</button>
        <button onclick="showSection('predicted')">Predicted Section</button>
      </div>

      <!-- Literature Section -->
      <div id="literatureSection" class="section">
        <h3>Literature Section</h3>
        <label for="litProteinInput">Enter the Name of Protein:</label>
        <input type="text" id="litProteinInput" placeholder="Search  here" />
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>hg19</th>
                <th>hg38</th>
                <th>Gene</th>
                <th>Disease</th>
                <th>Function</th>
                <th>Drugs</th>
                <th>Modification</th>
                <th>DOI</th>
              </tr>
            </thead>
            <tbody id="litProteinDetails"></tbody>
          </table>
        </div>
      </div>

      <!-- Predicted Section -->
      <div id="predictedSection" class="section">
        <h3>Predicted Section</h3>
        <label for="predProteinInput">Enter the Name of Protein:</label>
        <input type="text" id="predProteinInput" />
        <button onclick="searchPredicted()">Search</button>
        <div class="details" id="predProteinDetails"></div>
      </div>
    </div>
  </body>
</html>
