<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>circDiscoverer - Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to <span style="color: #003d82">circDiscoverer</span></h1>
      <p>A cutting-edge database for exploring circRNA-Protein interactions.</p>
      <a href="{{ url_for('serve_circ_discoverer') }}">
        <button class="btn">Explore Now</button>
      </a>
    </div>
  </body>
</html>
